<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="google" content="notranslate" />
	<meta name="title" content="Dekanor | Contacto - Sachayoj, Santiago del Estero">
	<meta name="description" content="Somos una empresa que provee insumos para la agricultura, brindando asesoramiento y acompañamiento a nuestros cliente. Estamos en Sachayoj, Santiago del Estero">
	<meta name="keywords" content="dekanor, contacto, Sachayoj, Santiago del Estero">
	<title>Dekanor | Contacto - Sachayoj, Santiago del Estero</title>
	<link rel="canonical" href="https://dekanor.com/contacto">
	<meta property="og:locale" content="en_AR">
	<meta property="og:type" content="website">
	<meta property="og:title" content="Dekanor | Contacto - Sachayoj, Santiago del Estero">
	<meta property="og:description" content="Somos una empresa que provee insumos para la agricultura, brindando asesoramiento y acompañamiento a nuestros cliente. Estamos en Sachayoj, Santiago del Estero">
	<meta property="og:url" content="https://dekanor.com/contacto">
	<meta property="og:site_name" content="Dekanor | Contacto - Sachayoj, Santiago del Estero">
	<meta property="og:image" content="https://dekanor.com/resources/images/dekanor.ico"/>
	<meta property="og:image:width" content="800"/>
	<meta property="og:image:height" content="800"/>
	<link rel="icon" href="resources/images/dekanor.ico">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="stylesheet" type="text/css" href="resources/css/variables.css">
	<link rel="stylesheet" type="text/css" href="resources/css/contacto.css">
	<link rel="stylesheet" type="text/css" href="resources/css/header.css">
	<link rel="stylesheet" type="text/css" href="resources/css/footer.css">
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-79KG1JGJ3Y"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'G-79KG1JGJ3Y');
	</script>
</head>
<body>
	<!-- Header -->
	<%- include('templates/header') %>
	<!-- Main -->
	<main class="main">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d57043.20870604098!2d-61.85322211723187!3d-26.674067909057904!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x943f1f1aa799f39d%3A0xf2269247f06e2994!2sRP6%2C%20Sachayoj%2C%20Santiago%20del%20Estero!5e0!3m2!1ses!2sar!4v1656550317604!5m2!1ses!2sar" class="main__iframe" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
		<section class="main__container">
			<h2 class="main__title">CONTACTO</h2>
			<form class="main__form" action="/contacto_send" method="POST">
				<span class="main__data">
					<svg version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512.000000 512.000000" preserveAspectRatio="xMidYMid meet" class="main__svg">
					    <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" stroke="none">
					        <path d="M2380 4785 c-293 -47 -576 -227 -747 -476 -83 -121 -153 -299 -178 -454 -44 -272 24 -579 178 -804 174 -253 455 -431 757 -476 244 -38 469 1 692 117 524 274 745 923 494 1454 -118 249 -280 415 -521 534 -218 108 -439 142 -675 105z"/>
					        <path d="M1895 2229 c-315 -42 -601 -184 -830 -414 -169 -168 -282 -351 -355 -573 -57 -176 -64 -240 -65 -544 0 -264 1 -278 21 -304 11 -15 33 -37 48 -48 l27 -21 1819 0 1819 0 27 21 c15 11 37 33 48 48 20 26 21 40 20 309 0 249 -3 293 -22 379 -65 296 -189 526 -397 734 -203 204 -435 330 -727 396 -89 21 -123 22 -728 24 -349 1 -666 -2 -705 -7z"/>
					    </g>
					</svg>
					<input class="main__input" type="text" name="name" placeholder="Nombre">
				</span>
				<span class="main__data">
					<svg version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512.000000 512.000000" preserveAspectRatio="xMidYMid meet" class="main__svg">
					    <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" stroke="none">
					        <path d="M692 4145 c-57 -13 -132 -44 -132 -54 0 -3 439 -298 975 -655 972 -648 974 -648 1025 -648 51 0 53 0 1025 648 536 357 975 652 975 655 0 9 -90 47 -141 58 -71 17 -3659 13 -3727 -4z"/>
					        <path d="M338 3807 c-17 -43 -25 -2381 -7 -2465 36 -174 178 -321 356 -367 86 -23 3660 -23 3746 0 178 46 320 193 356 367 18 84 10 2422 -7 2465 l-14 32 -996 -663 c-548 -365 -1016 -671 -1039 -680 -118 -44 -255 -40 -368 13 -33 15 -500 321 -1037 679 l-976 651 -14 -32z"/>
					    </g>
					</svg>
					<input class="main__input" type="text" name="email" placeholder="Email">
				</span>
				<span class="main__data">
					<svg version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512.000000 512.000000" preserveAspectRatio="xMidYMid meet" class="main__svg">
					    <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" stroke="none">
					        <path d="M300 5104 c-141 -38 -247 -146 -284 -289 -25 -92 -16 -370 19 -665 151 -1247 790 -2373 1790 -3156 599 -469 1333 -794 2085 -924 263 -45 648 -77 809 -67 143 8 254 66 324 169 74 108 71 84 75 666 2 336 -1 543 -8 580 -25 139 -129 261 -264 308 -24 9 -113 19 -216 25 -316 18 -489 46 -750 121 -250 72 -330 58 -522 -90 -90 -70 -261 -199 -533 -402 -5 -5 -66 24 -135 64 -470 271 -816 587 -1093 1000 -113 169 -228 368 -218 381 56 72 444 589 468 624 79 111 87 226 29 425 -71 246 -108 477 -121 751 -10 212 -33 283 -125 374 -58 58 -105 85 -187 106 -84 22 -1061 21 -1143 -1z"/>
					    </g>
					</svg>
					<input class="main__input" type="text" name="phone" placeholder="Teléfono">
				</span>
				<span class="main__data">
					<svg version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512.000000 512.000000" preserveAspectRatio="xMidYMid meet" class="main__svg">
					    <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" stroke="none">
					        <path d="M2295 4803 c-22 -2 -105 -12 -183 -23 -846 -119 -1566 -616 -1907 -1315 -342 -699 -251 -1447 244 -2011 94 -108 241 -240 357 -321 93 -66 89 -53 53 -191 -20 -77 -71 -187 -122 -262 -17 -25 -103 -118 -191 -208 l-161 -164 285 5 c266 4 292 6 385 30 230 59 407 153 592 315 l62 54 153 -31 c290 -58 375 -66 713 -66 245 0 338 4 445 18 560 76 1020 264 1380 565 703 587 916 1545 525 2360 -198 412 -550 755 -1000 972 -292 141 -615 228 -988 265 -135 13 -523 18 -642 8z"/>
					    </g>
					</svg>
					<input class="main__input" type="text" name="message" placeholder="Ingresar consulta">
				</span>
				<input class="main__btn" type="submit">
			</form>
		</section>
	</main>
	<!-- Footer -->
	<%- include('templates/footer') %>
	
	<script src="resources/scripts/header.js"></script>
</body>
</html>