<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="google" content="notranslate" />
	<meta name="title" content="Dekanor | Insumos para la agricultura">
	<meta name="description" content="Somos una empresa que provee insumos para la agricultura, brindando asesoramiento y acompañamiento a nuestros cliente. Somos distribuidores oficiales de Bayer, InnoBa, Dekalb, Roundup...">
	<meta name="keywords" content="dekanor, agricultura, maiz, soja, girasol, trigo, dristribuidores, campo, hectareas">
	<title>Dekanor | Insumos para la agricultura</title>
	<link rel="canonical" href="https://dekanor.com/">
	<meta property="og:locale" content="en_AR">
	<meta property="og:type" content="website">
	<meta property="og:title" content="Dekanor | Insumos para la agricultura">
	<meta property="og:description" content="Somos una empresa que provee insumos para la agricultura, brindando asesoramiento y acompañamiento a nuestros cliente. Somos distribuidores oficiales de Bayer, InnoBa, Dekalb, Roundup...">
	<meta property="og:url" content="https://dekanor.com/">
	<meta property="og:site_name" content="Dekanor">
	<meta property="og:image" content="https://dekanor.com/resources/images/dekanor.ico"/>
	<meta property="og:image:width" content="800"/>
	<meta property="og:image:height" content="800"/>
	<link rel="icon" href="resources/images/dekanor.ico">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="stylesheet" type="text/css" href="/resources/css/variables.css">
	<link rel="stylesheet" type="text/css" href="/resources/css/index.css">
	<link rel="stylesheet" type="text/css" href="/resources/css/header.css">
	<link rel="stylesheet" type="text/css" href="/resources/css/footer.css">
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-79KG1JGJ3Y"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'G-79KG1JGJ3Y');
	</script>
</head>
<body>
	<!-- Header -->
	<%- include('templates/header') %>
	<!-- Main -->
	<main class="slider"> 
		<article class="slider__article" id="slider">
			<span class="slider__section">
				<picture>
					<source srcset="resources/images/home/slider-respo-one.jpg" media="(max-width: 640px)" alt="Dekanor" class="slider-respo__img">
					<img src="resources/images/home/slider-one.jpg" alt="Dekanor" class="slider__img">
				</picture>
				<h1 class="slider__title">Somos una empresa que provee insumos para la agricultura, brindando asesoramiento y acompañamiento a nuestros clientes</h1>
				<span class="slider__d"></span>
			</span>
			<!-- <span class="slider__section">
				<picture>
					<source srcset="resources/images/home/slider-respo-two.jpg" media="(max-width: 640px)" alt="Dekanor" class="slider-respo__img">
					<img src="resources/images/home/slider-two.jpg" alt="Dekanor" class="slider__img">
				</picture>
				<span class="slider__container">
					<h2 class="slider__subtitle">Mantenete informado sobre asuntos del campo en nuestro portal de noticias</h2>
					<a class="slider__noticias" href="">ir a noticias</a>
				</span>
				<span class="slider__d"></span>
			</span> -->
			<span class="slider__section">
				<picture>
					<source srcset="resources/images/home/slider-respo-place.jpg" media="(max-width: 640px)" alt="Dekanor" class="slider-respo__img slider-respo__place">
					<img src="resources/images/home/slider-place.jpg" alt="Dekanor" class="slider__img slider__place">
				</picture>
				<span class="slider__container">
					<h2 class="slider__subtitle">Estamos en Sachayoj, Santiago del Estero</h2>
				</span>
				<span class="slider__d"></span>
			</span>
			<span class="slider__section">
				<picture>
					<source srcset="resources/images/home/slider-respo-three.jpg" media="(max-width: 640px)" alt="Dekanor" class="slider-respo__img">
					<img src="resources/images/home/slider-three.jpg" alt="Dekanor" class="slider__img">
				</picture>
				<h2 class="slider__hast">#PasiónPorElCampo</h2>
				<span class="slider__d"></span>
			</span>
		</article>
	</main>
	<!-- Years -->
	<section class="years">
		<span class="years__content">
			<p class="years__number" id="years">+10</p>
			<p class="years__text">AÑOS JUNTO A VOS</p>
		</span>
		<span class="years__content">
			<p class="years__number" id="ha">+10OK</p>
			<p class="years__text">HECTÁREAS ABASTECIDAS</p>
		</span>
	</section>
	<!-- Price -->
	<section class="price">
		<section class="price__content">
			<span class="price__grano">
				<p class="price__link" id="maiz" data-price="s / c">maiz</p>
				<p class="price__link" id="soja" data-price="s / c">soja</p>
				<p class="price__link" id="girasol" data-price="s / c">girasol</p>
				<p class="price__link" id="trigo" data-price="s / c">trigo</p>
			</span>
			<p class="price__text">PRECIO MERCADO | U$D DIVISA</p>
		</section>
	</section>
	<!-- Mark -->
	<section class="mark">
		<h3 class="mark__title">SOMOS DISTRIBUIDORES OFICIALES</h3>
		<span class="mark__logos">
			<img class="mark__img" src="resources/images/home/mark-one.png" alt="Bayer">
			<img class="mark__img" src="resources/images/home/mark-two.png" alt="InnoBa">
			<img class="mark__img" src="resources/images/home/mark-three.png" alt="Dekalb">
			<img class="mark__img" src="resources/images/home/mark-four.png" alt="Roundup">
		</span>
	</section>
	<!-- Gallery -->
	<section class="gallery">
		<section class="gallery__content">
			<span class="gallery__container">
				<span class="gallery__before">
					<img class="gallery__images" src="/resources/images/home/gallery-1.jpg" alt="dekanor">
				</span>
				<span class="gallery__after">
					<img class="gallery__images" src="/resources/images/home/gallery-4.jpg" alt="dekanor">
				</span>
			</span>
			<span class="gallery__container">
				<span class="gallery__before">
					<img class="gallery__images" src="/resources/images/home/gallery-2.jpg" alt="dekanor">
				</span>
				<span class="gallery__after">
					<img class="gallery__images" src="/resources/images/home/gallery-5.jpg" alt="dekanor">
				</span>
			</span>
			<span class="gallery__container">
				<span class="gallery__before">
					<img class="gallery__images" src="/resources/images/home/gallery-3.jpg" alt="dekanor">
				</span>
				<span class="gallery__after">
					<img class="gallery__images" src="/resources/images/home/gallery-6.jpg" alt="dekanor">
				</span>
			</span>
		</section>
	</section>
	<!-- Footer -->
	<%- include('templates/footer') %>

	<script src="resources/scripts/header.js"></script>
	<script src="resources/scripts/index.js"></script>
</body>
</html>