/<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="google" content="notranslate" />
	<meta name="robots" content="noindex">
	<title>Dekanor | Error</title>
	<link rel="icon" href="resources/images/dekanor.ico">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="stylesheet" type="text/css" href="/resources/css/variables.css">
	<link rel="stylesheet" type="text/css" href="/resources/css/error.css">
</head>
<body>
	<!-- MAIN ERROR -->
	<main class="error">
		<section class="titles">
			<a href="/" class="titles__title">DEKANOR</a>
			<h2 class="titles__subtitle">ERROR</h2>
		</section>
		<h2 class="error__text">HA OCURRIDO UN ERROR INESPERADO</h2>
		<a href="/" class="error__enlace">VOLVER AL INICIO</a>
	</main>
</body>