<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="google" content="notranslate" />
	<meta name="title" content="Dekanor | Bayer, Innoba, Dekalb y Roundup">
	<meta name="description" content="Dekanor | Somos una empresa que desde el año 2012, provee insumos para agricultura, brindando desde entonces asesoramiento y acompañamiento a nuestros clientes. Somos distribuidores Innoba de productos Bayer.">
	<meta name="keywords" content="Dekanor, Bayer, Innoba, Dekalb, Roundup, agricultura, Sachayoj, Santiago del Estero, copo, alberdi">
	<title>Dekanor | Bayer, Innoba, Dekalb y Roundup</title>
	<link rel="canonical" href="https://dekanor.com/sobre_Dekanor">
	<meta property="og:locale" content="en_AR">
	<meta property="og:type" content="website">
	<meta property="og:title" content="Dekanor | Bayer, Innoba, Dekalb y Roundup">
	<meta property="og:description" content="Dekanor | Somos una empresa que desde el año 2012, provee insumos para agricultura, brindando desde entonces asesoramiento y acompañamiento a nuestros clientes. Somos distribuidores Innoba de productos Bayer.">
	<meta property="og:url" content="https://dekanor.com/sobre_Dekanor">
	<meta property="og:site_name" content="Dekanor | Bayer, Innoba, Dekalb y Roundup">
	<meta property="og:image" content="https://dekanor.com/resources/images/dekanor.ico"/>
	<meta property="og:image:width" content="800"/>
	<meta property="og:image:height" content="800"/>
	<link rel="icon" href="resources/images/dekanor.ico">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="stylesheet" type="text/css" href="resources/css/variables.css">
	<link rel="stylesheet" type="text/css" href="resources/css/sobre_nosotros.css">
	<link rel="stylesheet" type="text/css" href="resources/css/header.css">
	<link rel="stylesheet" type="text/css" href="resources/css/footer.css">
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-79KG1JGJ3Y"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'G-79KG1JGJ3Y');
	</script>
</head>
<body>
	<!-- Header -->
	<%- include('templates/header') %>
	<!-- Main -->
	<main class="main">
		<img class="main__img" src="resources/images/sobre_dekanor/image-d.png" alt="Dekanor">
		<h2 class="main__title">SOBRE DEKANOR</h2>
		<h3 class="main__text">Dekanor es una empresa que desde su fundación en el año 2012, provee insumos para agricultura, brindando desde entonces asesoramiento y acompañamiento a nuestros clientes. Somos distribuidores Innoba de productos Bayer en la localidad de Sachayoj, Sgo. de Estero, contando con la exclusividad de las marcas Dekalb y Roundup.. También estamos presentes en distintos puntos de las provincias de Santiago del Estero, cubriendo geográficamente los Departamentos Copo, Alberdi y Moreno. El Equipo Profesional traduce en acción nuestra propuesta de valor, recomendando soluciones que maximizan rendimiento con herramientas basadas en la mejor tecnología disponible y la innovación. #EquipoDekanor.</h3>
	</main>
	<!-- Footer -->
	<%- include('templates/footer') %>
	
	<script src="resources/scripts/header.js"></script>
</body>
</html>