/*Main*/
.main {
	display: flex;
	align-items: center;
	padding-block: 5vh;
}

.main__title {
	display: none;
    font-size: 8vw;
    color: var(--color-secundary);
    margin-block: 30px 5px;
    margin-inline-start: 4%;
}

.main__img {
	width: 40%;
	height: auto;
}

.main__text {
	font-family: var(--font-family-light);
	font-size: 2vw;
	background: none;
	margin-inline: 4%;
}

@media screen and (max-width: 650px) {
	/*Main*/
	.main { flex-direction: column; align-items: flex-start; }
	.main__img { width: 80%; }
	.main__title { display: block; }
	.main__text { font-size: 4vw; margin-block: 0 40px }
}